:root{
    --main-color : #8b0000;
    --sec-color : #C67F7F;
    --third-color: #ececec;
}

.bg_main {
    background-color: var(--main-color);
}
.bg_sec {
    background-color: var(--sec-color);
}
.bg_third {
    background-color: var(--third-color);
}

.tc_main {
    color: var(--main-color);
}
.tc_third {
    color: var(--third-color);
}
.container{
    margin: 0px;
}

/* NavBar*/

.nav_link{
    text-decoration: inherit; color: black;
    padding: 10px;
}

.nav_sfondo{
    background: linear-gradient(white, rgb(236, 236, 236, 0.5),rgba(236, 236, 236, 0.1));
}




/*impostazioni generali*/

.font_nova_square{
    font-family: 'Nova Square', cursive;
}

.font_Raldhani{
    font-family: 'Rajdhani', sans-serif;
}



/* Sezione Principale */

.masthead{   
    
    background-image: linear-gradient(rgb(236, 236, 236),rgba(236, 236, 236, 0)),url(./../img/switzerland-862870_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(236, 236, 236);
    height: 80vh; 
    
}
    
.dim_sfondo{
    background-image: url(/img/mountains2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80vh;
    padding: 0px;
}

h1{
    letter-spacing: 80px;
    color: darkred;
}


/* sezione comping */

.border_main{
    border-bottom: var(--main-color) 3px solid;
    height: 150px;

    
}

.circle_white{
    border: var(--main-color) 2px solid;
    border-radius: 50%;
    background-color: var(--third-color);
    width: 20px;
    height: 20px;
}

.mar_top_bot{
    margin: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
}

/* sezione alberi con bottone*/
.bg_alberi{
    background-image: url(/img/trees2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.dim_conteiner{
    width: 100%;
    height: 50vh;
}

.btn_rosso{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--third-color);
    width: 230px;
    height: 65px;
    
}

/* sezione Our Timeline */
.img_bottom{
    background-image: url(/img/single.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: bottom;
   

}


.border-left-main{
    border-left: solid 4px var(--main-color);
    padding-left: 1px;
}

/* sezione OUR TEAM */
.img_container_smoll{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_cir_smoll{
    width: 225px;
    height: 225px;
    background-image:linear-gradient(rgb(11, 2, 34),rgba(50, 2, 2, 0.7),rgba(34, 1, 1, 0.9)), url(/img/fog.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
}

/* sezione Our Benefit */
.img_container_large{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_cir_large{
    width: 225px;
    height: 225px;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
}




/* sezione meedia */
@media screen and (min-width: 768px) {

   .profile-img {
       position: absolute;
       bottom: 0px;
       right: 0px;
       transform: translateX(0%);
       max-height: 180vh;
       }

     
}
@media screen and (max-width: 768px) {
   h1{
    letter-spacing: 50px;
   }
}

